{{#each threads as |thread|}}
<div class="card text-center" style="margin: 20px;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">{{thread.title}}</h5>
    <p class="card-text">
      {{thread.description}}
    </p>
    <a href="/thread/{{thread.id}}" class="btn btn-primary">Go to thread</a>
  </div>
  <div class="card-footer text-muted">{{format_date thread.date_created}}</div>
</div>
{{/each}}